.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-color: white;
}
.div_icon{
    position: fixed;
    display: flex;
    right: 40px;
    width: 100px;
    object-fit: contain;
}
.nav_logo{
    position: fixed;
    left: 40px;
    width: 80px;
    object-fit: contain;
}

.nav__icon{

    margin: 5px;
    width: 30px;
    object-fit: contain;
}
